body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 0;
}

label {
  display: block;
}


/* Base styling for the button */
.btn-primary {
  background: linear-gradient(90deg, #ff008c, #ff3da8);  /* Pink gradient */
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;  /* Rounded edges */
  transition: all 0.3s ease;  /* Transition for hover effect */
}

.btn-primary:hover {
  background: linear-gradient(90deg, #e6007e, #ff66b2);  /* Slightly altered pink gradient for hover */
  transform: scale(1.05);  /* Slightly enlarge button on hover */
}

/* Animation for the button */
@keyframes btnAnimation {
  0% {
      transform: scale(1);
      opacity: 0.5;
  }
  50% {
      transform: scale(1.05);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 0.5;
  }
}

.animated-btn {
  animation: btnAnimation 2s infinite;  /* Apply the animation */
}

/* Base styling for the input */
.stylish-input {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;  /* Rounded edges */
  border: 2px solid #ccc;  /* Light gray border */
  transition: all 0.3s ease;  /* Transition for focus effect */
  margin-bottom: 12px;  /* Increased from 8px to 12px for a bit more spacing */
}

.stylish-input:focus {
  outline: none;  /* Remove default browser outline */
  border-color: #ff008c;  /* Same primary color as the button for consistency */
  box-shadow: 0 0 10px rgba(255, 0, 149, 0.25);  /* A gentle blue glow when focused */
}

/* If you're using Bootstrap, this helps remove the default box-shadow on focus */
.stylish-input.form-control:focus {
  box-shadow: none;
}

/* Base styling for the label */
.stylish-label {
  font-size: 18px;
  color: #ff008c;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  margin-bottom: 12px;  /* Increased from 8px to 12px for a bit more spacing */
}

/* Optional: A gentle hover effect, if you want the label to respond when hovered */
.stylish-label:hover {
  color: #ff99d1;  /* Darkened color for hover, similar to the button */
  cursor: pointer; /* Indicate that it's interactive, useful if label is clickable */
}