
<body>
  <header>
    <nav class="main-menu">
      <img src="assets/images/640px-Dark_Rosaleen_Anarchy_1.svg.png" alt="Logo" class="menu-logo">
      <ul>
        <li><a href="#">{{ 'HOME' | translate }}</a></li>
        <li><a href="#">{{ 'ABOUT' | translate }}</a></li>
        <li><a href="#">{{ 'CONTACT' | translate }}</a></li>
      </ul>
      <div class="language-buttons">
        <button (click)="switchLanguage('en')">English</button>
        <button (click)="switchLanguage('fr')">French</button>
      </div>
    </nav>
  </header>
  <main>
    <section class="container">
      <div class="black-side">
        <app-form></app-form>
      </div>
      <div class="blurred-side">
        <app-artiste></app-artiste>
      </div>
    </section>
    <!--<router-outlet></router-outlet>-->
  </main>
</body>
